{{template "base.html" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "extrajs"}}
	<script src="/static/js/map.js"></script>
{{end}}

{{define "style"}}
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 100%;
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
		#map {
			height: 600px;
			width: 100%;
		}
{{end}}
{{define "content"}}
<a href="/process-audio">Audio Processor</a>
<div id="map" class="border"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Statistics</h1>
			<table>
				<tr><th>Type</th><th>Count</th></tr>
				<tr>
					<td>Mosquito Source</td>
					<td><span id="count-mosquito-source">...</span></td>
				</tr>
				<tr>
					<td>Service Request</td>
					<td><span id="count-service-request">...</span></td>
				</tr>
				<tr>
					<td>Trap Data</td>
					<td><span id="count-trap-data">...</span></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="detail"><p>Select a marker for detail...</p></div>
		</div>
	</div>
</div>
{{end}}

{{define "script"}}
{{end}}
