{{template "base.html" .}}

{{define "title"}}<h1>{{.Title}}</h1>{{end}}

{{define "style"}}
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 100%;
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
		#map {
			height: 50%;
			width: 100%;
		}
{{end}}
{{define "content"}}
<div id="map" ></div>
<div>
	<h1>Overview 3</h1>sp
	<p>FieldSeeker Sync Bridge</p>
	<table>
		<tr><th>Table</th><th>Count</th></tr>
		<tr><td>
			<a href="/service-request">ServiceRequest</a>
		</td><td>{{.ServiceRequestCount}}</td></tr>
	</table>
</div>
{{end}}

{{define "script"}}
{{end}}
