{{template "base.html" .}}

{{define "title"}}<h1>Login</h1>{{end}}
{{define "script"}}{{end}}
{{define "style"}}{{end}}
{{define "content"}}
	<main class="form-signin w-100 m-auto">
		<form method="POST" action="/login?next={{.Next}}">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<div class="form-floating">
				<input type="username" class="form-control" id="floatingUsername" name="username" placeholder="eliribble">
				<label for="floatingUsername">Username</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="secret">
				<label for="floatingPassword">Password</label>
			</div>
			<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
		</form>
	</main>
{{end}}
