{{template "base.html" .}}

{{define "title"}}Nidus Audio{{end}}

{{define "style"}}
html, body {
	height: 100%;
	margin: 0;
}
.container-audio {
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #eee;
	color: #444;
	margin: 20px auto;
	overflow: hidden;
}
.audio-ruler {
	width: 85%;
	height: 30px;
	left: 60px;
	position: relative;
	background-color: #f0f0f0;
}

.ruler-marks {
	display: flex;
	height: 100%;
	position: absolute;
	width: 100%;
}
.ruler-mark {
	flex-grow: 1;
	border-right: 1px solid #999;
	position: relative;
}



.ruler-label {
	position: absolute;
	bottom: -20px;
	transform: translateX(-50%);
	font-size: 10px;
	color: #666;
}
audio {
	width:100%;
}
{{end}}

{{define "extrajs"}}
<script src="/static/js/audio.js"></script>
<script>
function setPlaybackSpeed(speed) {
	var audio = document.getElementById("audio")
	audio.playbackRate=speed;
}
</script>
{{end}}

{{define "content"}}
<div class="container">
	<a href="/process-audio">Return to list</a>
	<div class="row">
		<div class="col-11">
			<div class="container-audio">
				<audio controls id="audio">
					<source src="/audio/{{ .AudioNote.UUID }}.m4a" type="audio/mpeg"></source>
					<source src="/audio/{{ .AudioNote.UUID }}.ogg" type="audio/ogg"></source>
				</audio>
				<div class="audio-ruler">
					<div class="ruler-marks" id="rulerMarks"></div>
				</div>
			</div>
		</div>
		<div class="col-1">
			<button class="btn" onclick="setPlaybackSpeed(0.5)">0.5x</button>
			<button class="btn" onclick="setPlaybackSpeed(0.75)">0.75x</button>
			<button class="btn" onclick="setPlaybackSpeed(1.0)">1.0x</button>
			<button class="btn" onclick="setPlaybackSpeed(1.25)">1.25x</button>
			<button class="btn" onclick="setPlaybackSpeed(1.5)">1.5x</button>
			<button class="btn" onclick="setPlaybackSpeed(1.75)">1.75x</button>
			<button class="btn" onclick="setPlaybackSpeed(2.0)">2.0x</button>
		</div>
	</div>
	<div class="row">
		<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}/delete">
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</div>
	<div class="row">
		<div class="col-4">
			<table class="table">
				<tbody>
					<tr>
						<td>Created</td>
						<td>{{ .AudioNote.Created }}</td>
					</tr>
					<tr>
						<td>Creator</td>
						<td>{{ with $u := index $.UsersById .AudioNote.Creator }}{{ $u.DisplayName }}{{ end }}</td>
					</tr>
					<tr>
						<td>Deleted</td>
						<td>{{ .AudioNote.Deleted }}</td>
					</tr>
					<tr>
						<td>Duration</td>
						<td>{{ .AudioNote.Duration }}</td>
					</tr>
					<tr>
						<td>Transcription user edited</td>
						<td>{{ .AudioNote.TranscriptionUserEdited }}</td>
					</tr>
					<tr>
						<td>Version</td>
						<td>{{ .AudioNote.Version }}</td>
					</tr>
					<tr>
						<td>UUID</td>
						<td>{{ .AudioNote.UUID }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-8">
			<table class="table">
				<tbody>
					<tr>
						<td><a href="#" data-toggle="tooltip"
								title="This is the name for the life stages of the mosquito, so you will hear them say 'First Instar' or 'Firsts.'">Instar</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="These are the transitional life stages of mosquitoes, singular and plural respectively.">Pupa or Pupae</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="These are the juvenile life stages of mosquitoes, singular or plural respectively.">Larva or Larvae</a></td>
					</tr>
					<tr>
						<td><a href="#" data-toggle="tooltip"
								title="This is a state of female mosquitoes, meaning they are carrying eggs. There are gravid mosquitoes and gravid traps designed to capture gravid mosquitoes.">Gravid</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="These are a variety of mosquito traps. They may also say BGs (plural), meaning multiple BG Sentinel traps. (BG stands for BioGents and is basically a brand name, but most people call the traps by the brand name.)">BG, BG Sentinel, Sentinel</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="This is carbon dioxide, and it refers to the gas but also to a variety of traps that use CO₂ as bait.">CO₂</a></td>
					</tr>
					<tr>
						<td><a href="#" data-toggle="tooltip"
								title="This is an irrigation method where water is pumped to a tall standing pipe and then gravity feeds the water into the field. They will often be full of mosquitoes.">Standpipe</a></td>
						<td><a href="#" data-toggle="tooltip"
								title=" This is a large pond where the manure from the feed lanes is washed to keep it from piling up at the dairy. They often produce mosquitoes.">Dairy Lagoon</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="This is usually a natural temporary waterway that will hold stagnant water near rivers.">Slough</a></td>
					</tr>
					<tr>
						<td><a href="#" data-toggle="tooltip"
								title="This is a genus of mosquito that represents several species we deal with regularly. They often indicate day biting and aggressive behavior.">Aedes</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="This is a genus of mosquito that represents several species we deal with regularly. They are more sneaky than Aedes and are our primary vectors in disease transmission.">Culex</a></td>
						<td><a href="#" data-toggle="tooltip"
								title="This is usually a natural temporary waterway that will hold stagnant water near rivers. ie 'aegypti source'">Aegypti</a></td>
					</tr>
					<tr>
						<td><a href="#" data-toggle="tooltip"
								title="This is a genus of mosquito that represents several species we deal with regularly. They often indicate day biting and aggressive behavior.">Quinks</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}/reviewed">
				<button type="submit" class="btn btn-success">Mark reviewed without changes</button>
			</form>
		</div>
		<div class="col">
			<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}/needs-further-review">
				<button type="submit" class="btn btn-warning">Needs further review</button>
			</form>
		</div>
	</div>
	<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}">
		<div class="mb-3">
			<p><b>Original transcription:</b><br/>{{ if not .AudioNote.Transcription }}&lt;none&gt;{{ else }}{{ .AudioNote.Transcription }}{{ end }}</p>
		</div>
		<div class="mb-3">
			<input type="hidden" name="uuid" value="{{ .AudioNote.UUID }}"/>
			<label for="transcript" class="form-label">Updated Transcription</label>
			<textarea class="form-control" name="transcription" rows="10">{{ if not .AudioNote.Transcription }}{{ else }}{{ .AudioNote.Transcription }}{{ end }}</textarea>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
</div>
{{end}}

{{define "script"}}
{{end}}
