{{template "base.html" .}}

{{define "title"}}Nidus Audio{{end}}

{{define "style"}}
		html, body {
			height: 100%;
			margin: 0;
		}
{{end}}
{{define "content"}}
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Created</th>
				<th scope="col">Reviewed</th>
				<th scope="col">Duration</th>
				<th scope="col">Tech</th>
				<th scope="col">UUID</th>
			</tr>
		</thead>
		<tbody>
			{{range $note := .AudioNotes}}
			<tr>
				<td>{{ $note.Created }}</td>
				<td>{{ if $note.HasBeenReviewed }}T{{ else }}F{{ end}}</td>
				<td>{{ $note.Duration }}</td>
				<td>{{ with $u := index $.UsersById $note.Creator }}{{ $u.DisplayName }}{{ end }}</td>
				<td><a href="/process-audio/{{ $note.UUID }}">{{ $note.UUID }}</a></td>
			</tr>
			{{end}}
		</tbody>
	</div>
</div>
{{end}}

{{define "script"}}
{{end}}
