{{template "base.html" .}}

{{define "title"}}Nidus Audio{{end}}

{{define "style"}}
		html, body {
			height: 100%;
			margin: 0;
		}
{{end}}
{{define "content"}}
<div class="container">
	<a href="/process-audio">Return to list</a>
	<figure>
		<figcaption>Listen to the Note:</figcaption>
		<audio controls>
			<source src="/audio/{{ .AudioNote.UUID }}.m4a" type="audio/mpeg"></source>
			<source src="/audio/{{ .AudioNote.UUID }}.ogg" type="audio/ogg"></source>
		</audio>
	</figure>
	<table class="table">
		<tbody>
			<tr>
				<td>Created</td>
				<td>{{ .AudioNote.Created }}</td>
			</tr>
			<tr>
				<td>Creator</td>
				<td>{{ with $u := index $.UsersById .AudioNote.Creator }}{{ $u.DisplayName }}{{ end }}</td>
			</tr>
			<tr>
				<td>Deleted</td>
				<td>{{ .AudioNote.Deleted }}</td>
			</tr>
			<tr>
				<td>Duration</td>
				<td>{{ .AudioNote.Duration }}</td>
			</tr>
			<tr>
				<td>Transcription user edited</td>
				<td>{{ .AudioNote.TranscriptionUserEdited }}</td>
			</tr>
			<tr>
				<td>Version</td>
				<td>{{ .AudioNote.Version }}</td>
			</tr>
			<tr>
				<td>UUID</td>
				<td>{{ .AudioNote.UUID }}</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col">
			<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}/reviewed">
				<button type="submit" class="btn btn-success">Mark reviewed without changes</button>
			</form>
		</div>
		<div class="col">
			<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}/needs-further-review">
				<button type="submit" class="btn btn-warning">Needs further review</button>
			</form>
		</div>
	</div>
	<form method="POST" action="/process-audio/{{ .AudioNote.UUID }}">
		<div class="mb-3">
			<p><b>Original transcription:</b><br/>{{ if not .AudioNote.Transcription }}&lt;none&gt;{{ else }}{{ .AudioNote.Transcription }}{{ end }}</p>
		</div>
		<div class="mb-3">
			<input type="hidden" name="uuid" value="{{ .AudioNote.UUID }}"/>
			<label for="transcript" class="form-label">Updated Transcription</label>
			<textarea class="form-control" name="transcription" rows="10">{{ if not .AudioNote.Transcription }}{{ else }}{{ .AudioNote.Transcription }}{{ end }}</textarea>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
</div>
{{end}}

{{define "script"}}
{{end}}
