{{template "base.html" .}}

{{define "title"}}Service Requests{{end}}
{{define "script"}}{{end}}
{{define "style"}}{{end}}
{{define "content"}}
<div>
<Table>
	<tr><th>Geometry</th><th>Address</th><th>City</th><th>Zip</th><th>Priority</th><th>Status</th><th>Source</th><th>Target</th></tr>
{{ range $i, $sr := .ServiceRequests }}
  <tr>
		<th>{{ $sr.Geometry | geocode }}</td>
		<th>{{ $sr.Address }}</td>
		<th>{{ $sr.City }}</td>
		<th>{{ $sr.Zip }}</td>
		<th>{{ $sr.Priority }}</td>
		<th>{{ $sr.Status }}</td>
		<th>{{ $sr.Source }}</td>
		<th>{{ $sr.Target }}</td>
	</tr>
{{ end }}
</ul>
</div>
{{end}}
