[Unit]
Description=Run fieldseeker-sync-export every 15 minutes
Requires=fieldseeker-sync-export.service

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
